body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .square {
    color: black;
    background: #fff;
    border: 1px solid #999;
    border-radius: 5%;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    background-color: darksalmon;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }

   
  .state {
    background: #fff;
    border: 1px solid #999;
    border-radius: 5%;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    text-align: left;
    width: 200px;
  }
  
  .state:hover {
    border: 1px solid red;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    background-color: #587058;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .game-board {
    width: 100%;   
  }
