body {
    background-color: #E86850;
    padding: 0px;
    margin: 0;
}
div.section {
    /*padding-top:100px;*/
    min-height: 100vh;
    min-width: 100vh;
    padding: 80px;
}
h1, h2, p, ul, li {
    font-family: sans-serif;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: gainsboro;
    padding: 0;
}

ul.header li a {
    color: cornflowerblue;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

ul.header li a:hover {
    color: navy;
}

.active { 
    color: aliceblue !important;
    background-color: cornflowerblue;
   
}

.content {
    background-color: azure;
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.home {
    background-color: #FFD800;
}

.product {
    background-color: #78c0a8;
}
