:root {
    --bg: rgb(243, 199, 96);
    --fg: rgba(253,255,252,1);
}

.product {
    background-color: var(--bg);
}

.product-box {
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
}

.product-box-wrapper {
    top: -60px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.product-box-item {
    max-width: 100%;
    /*margin-bottom: 24px;*/

}

.product-box-item.img {
    height: 50px;
    width: 50px;
    font-size: 40px;

}

.product-box-item.title {
    padding-left: 20%;
    text-align: left;
    margin-top: 20px;
    font-weight: 500;
    font-size: 24px;
    color: var(--fg);
}

.product-box-item.blurb {
    color: var(--fg);
    font-size: 18px;

}

.product-box-item.button {
    margin-top: 20px;
    font-size: 20px;
    background-color: var(--fg) !important;
    color: var(--bg) !important;
    border: none;
}

.product-box-item.button:hover {
    margin-top: 20px;
    font-size: 20px;
    background-color: var(--bg) !important;
    border: 1px solid var(--fg) !important;
    color: var(--fg) !important;
}


